NET "clk"  LOC = "P40";
NET "clk_o" LOC = "P22";

NET "data_in" LOC = "P37";
NET "fdata<0>"  LOC = "P1"; 
NET "fdata<1>"  LOC = "P2";
NET "fdata<2>"  LOC = "P3";
NET "fdata<3>"  LOC = "P5";
NET "fdata<4>"  LOC = "P6";
NET "fdata<5>"  LOC = "P8";
NET "fdata<6>"  LOC = "P12";
NET "fdata<7>"  LOC = "P13";

NET "faddr<0>"  LOC = "P27";	
NET "faddr<1>"  LOC = "P28";

NET "flagd" LOC = "P16";

NET "slrd"  LOC = "P29";
NET "slwr"  LOC = "P30";
NET "sloe"  LOC = "P34";	
NET "pkt_end"  LOC = "P42";
